<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-16">
  <meta name="description"
    content="CV d'Edouard François : Développeur, Ingénieur en Cybersécurité et passionné d'informatique.">
  <meta http-equiv=" X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>Edouard François</title>
  <link rel="stylesheet" href="fonts.css">
</head>

<body>
  <noscript>
    <p>
      <strong>
        Oups, JavaScript est désactivé sur votre navigateur, ré-activez le pour continuer.
      </strong>
      <br />
      <it>
        Sinon, vous pouvez trouver la version PDF de ce CV
        <a target="_blank" rel="noopener" href="www.psyked.fr">ici</a>.
      </it>
      <br />
      <label>
        Si votre navigateur est trop ancien,
        <a target="_blank" rel="noopener" href="https://browsehappy.com/">vous pouvez le mettre à jour</a>.
      </label>
    </p>
    <p>
      <strong>
        Sorry but this site doesn't work properly without JavaScript enabled. Please enable it to continue.
      </strong>
      <br />
      <it>Otherwise, you can find the PDF version of the resume
        <a target="_blank" rel="noopener" href="www.psyked.fr">here</a>.
      </it>
      <br />
      <label>
        If your browser is too old,
        <a target="_blank" rel="noopener" href="https://browsehappy.com/">consider an update</a>.
      </label>
    </p>
  </noscript>

  <div id="app"></div>
</body>

</html>